<div id="merchant_account">
    <header-block></header-block>


    <div class="merchant_title">
        <div class="container">
            <div><h2>Accepting card payments with Merchant Account solution</h2>
                <p>We understand how important a decision to accept payments online is for your business as well as fast
                    merchant account sign-up, that’s why Iscopy is offering flexible services to fit your
                    requirements.</p>
                <!---->
            </div>

        </div>
    </div>

    <solution-block></solution-block>

    <benefits-block></benefits-block>

    <logo-block></logo-block>

    <footer-block></footer-block>
</div>