<div id="privacy">
    <header-block></header-block>


    <div class="privacy">
        <div class="privacy_title">
            <div class="container">
                <div layout="row" layout-align=" start end">
                    <h2>{{'privacy'|translate}}</h2>
                </div>
            </div>
        </div>
        <div class="privacy_body">
            <div class="container">
                <h5>{{'privacy_subtitle'|translate}}</h5>

                <p>{{'privacy_text1' | translate}}</p>
                <p>{{'privacy_text2' | translate}}</p>
                <p>{{'privacy_text3' | translate}}</p>
                <p>{{'privacy_text4' | translate}}</p>
                <p>{{'privacy_text5' | translate}}</p>

                <h2>{{'privacy_section_title1' | translate}}</h2>
                <h4>{{'privacy_title1' | translate}}</h4>

                <p>{{'privacy_text6' | translate}}</p>
                <p><span>{{'privacy_strong7' | translate}}</span>{{'privacy_text7' | translate}}</p>
                <p><span>{{'privacy_strong8' | translate}}</span>{{'privacy_text8' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'privacy_list1_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list1_text2' | translate}}</p>
                    </li>
                </ul>
                <p><span>{{'privacy_strong9' | translate}}</span>{{'privacy_text9' | translate}}</p>

                <h4>{{'privacy_title2' | translate}}</h4>
                <p>{{'privacy_text10' | translate}}</p>

                <h4>{{'privacy_title3' | translate}}</h4>
                <p>{{'privacy_text11' | translate}}</p>
                <p><span>{{'privacy_strong12' | translate}}</span>{{'privacy_text12' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'privacy_list2_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list2_text2' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list2_text3' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list2_text4' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list2_text5' | translate}}</p>
                    </li>
                </ul>
                <p><span>{{'privacy_strong13' | translate}}</span>{{'privacy_text13' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'privacy_list3_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list3_text2' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list3_text3' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list3_text4' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list3_text5' | translate}}</p>
                    </li>
                </ul>
                <p><span>{{'privacy_strong14' | translate}}</span>{{'privacy_text14' | translate}}</p>

                <h4>{{'privacy_title4' | translate}}</h4>
                <p>{{'privacy_text15' | translate}}</p>
                <p>{{'privacy_text16' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'privacy_list4_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list4_text2' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list4_text3' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list4_text4' | translate}}</p>
                    </li>
                </ul>
                <p>{{'privacy_text17' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'privacy_list5_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list5_text2' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list5_text3' | translate}}</p>
                    </li>
                </ul>

                <h4>{{'privacy_title5' | translate}}</h4>
                <p>{{'privacy_text18' | translate}}</p>
                <p>{{'privacy_text19' | translate}}</p>
                <p>{{'privacy_text20' | translate}}</p>

                <h4>{{'privacy_title6' | translate}}</h4>
                <p>{{'privacy_text21' | translate}}</p>
                <p>{{'privacy_text22' | translate}}</p>

                <h4>{{'privacy_title7' | translate}}</h4>
                <p>{{'privacy_text23' | translate}}</p>

                <h4>{{'privacy_title8' | translate}}</h4>
                <p>{{'privacy_text24' | translate}}</p>

                <h4>{{'privacy_title9' | translate}}</h4>
                <p>{{'privacy_text25' | translate}}</p>


                <h2>{{'privacy_section_title2' | translate}}</h2>

                <p>{{'privacy_text26' | translate}}</p>
                <p>{{'privacy_text27' | translate}}</p>
                <p>{{'privacy_text28' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'privacy_list6_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list6_text2' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list6_text3' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list6_text4' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list6_text5' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list6_text6' | translate}}</p>
                    </li>
                </ul>
                <p>{{'privacy_text29' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'privacy_list7_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'privacy_list7_text2' | translate}}</p>
                    </li>
                </ul>
                <p>{{'privacy_text30' | translate}}</p>

            </div>
        </div>

    </div>


    <logo-block></logo-block>

    <footer-block></footer-block>
</div>