<div id="prices">
    <header-block></header-block>

    <div class="prices_title">
        <div class="container">
            <div layout="row" layout-align=" start end">
                <h2>{{"prices_title" | translate }}</h2>
            </div>
        </div>
    </div>
    <div class="prices_body">
            <div class="container">

                <p>{{'prices_text1' | translate}}</p>
                <p>{{'prices_text2' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'prices_list1_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'prices_list1_text2' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'prices_list1_text3' | translate}}</p>
                    </li>
                </ul>
                <p>{{'prices_text3' | translate}}</p>

                <p>{{'prices_text4' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'prices_list2_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'prices_list2_text2' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'prices_list2_text3' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'prices_list2_text4' | translate}}</p>
                    </li>
                </ul>

                <p>{{'prices_text5' | translate}}</p>
                <p>{{'prices_text6' | translate}}</p>

                <p>{{'prices_text7' | translate}}</p>

                <p>{{'prices_text8' | translate}}</p>
                <ul>
                    <li>
                        <p>{{'prices_list3_text1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'prices_list3_text2' | translate}}</p>
                    </li>
                </ul>

                <p>{{'prices_text9' | translate}}</p>
                <p>{{'prices_text10' | translate}}</p>
                <p>{{'prices_text11' | translate}}</p>

                <p>{{'prices_text12' | translate}}</p>





            </div>
    </div>

    <contact-form></contact-form>

    <logo-block></logo-block>

    <footer-block></footer-block>

</div>