<div id="terms">
    <header-block></header-block>


    <div class="terms">
        <div class="terms_title">
            <div class="container">
                <div layout="row" layout-align=" start end">
                    <h2>{{'terms' | translate}}</h2>
                </div>
            </div>
        </div>
        <div class="terms_body">
            <div class="container">
                <span>{{'terms_subtitle' | translate}}</span>

                <p>{{'terms_text1' | translate}}</p>
                <p>{{'terms_text2' | translate}}</p>
                <p>{{'terms_text3' | translate}}</p>


                <h4>{{'terms_title1' | translate}}</h4>
                <p>{{'terms_text4' | translate}}</p>
                <p> {{'terms_text5' | translate}}</p>
                <p>{{'terms_text6' | translate}}</p>


                <h4>{{'terms_title2' | translate}}</h4>
                <p>{{'terms_text7' | translate}}</p>
                <p>{{'terms_text8' | translate}}</p>


                <h4>{{'terms_title3' | translate}}</h4>
                <p>{{'terms_text9' | translate}}</p>

                <h4>{{'terms_title4' | translate}}</h4>
                <p>{{'terms_text10' | translate}}</p>
                <p>{{'terms_text11' | translate}}</p>

                <h4>{{'terms_title5' | translate}}</h4>
                <p>{{'terms_text12' | translate}}</p>
                <p>{{'terms_text13' | translate}}</p>
                <p>{{'terms_text14' | translate}}</p>


                <h4>{{'terms_title6' | translate}}</h4>
                <p>{{'terms_text15' | translate}}</p>

                <h4>{{'terms_title7' | translate}}</h4>
                <p>{{'terms_text16' | translate}}</p>
            </div>

        </div>
    </div>


    <logo-block></logo-block>

    <footer-block></footer-block>
</div>