<div id="terms">
    <header-block></header-block>


    <div class="terms">
        <div class="terms_title">
            <div class="container">
                <div layout="row" layout-align=" start end">
                    <h2>Terms</h2>
                </div>
            </div>
        </div>
        <div class="terms_body">
            <div class="container">
                <span>Last updated: December 05, 2016</span>

                <p> Please read these Terms and Conditions carefully before using the www.iscopay.com website (“the
                    Website”)
                    operated by Iscopay (“us”, “we”, or “our”).</p>
                <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these
                    Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
                <p>By accessing or using the Website you agree to be bound by these Terms. If you disagree with any part of
                    the terms you should not use the Website.</p>


                <h4> Links To Other Web Sites</h4>
                <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by
                    Iscopay.</p>
                <p> Iscopay has no control over, and assumes no responsibility for, the content, privacy policies, or
                    practices of any third-party web sites or services. You further acknowledge and agree Decta Limited
                    shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to
                    be
                    caused by or in connection with use of or reliance on any such content or services available on or
                    through any
                    such web sites or services.</p>
                <p> We strongly advise you to read the terms and conditions and privacy policies of any third-party web
                    sites or services that you visit.</p>


                <h4>Governing Law</h4>
                <p>These Terms shall be governed and construed in accordance with the laws of United Kingdom, without regard
                    to its conflict of law provisions.</p>
                <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those
                    rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining
                    provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us
                    regarding our Website, and supersede and replace any prior agreements we might have between us regarding
                    the Service.</p>


                <h4> Changes</h4>
                <p> We reserve the right, at our sole discretion, to modify or replace these Terms at any time. We will post
                    these changes on the Website. It is your sole responsibility to periodically check the Term for any
                    changes.
                    By continuing to access or use our Website after those changes have been made, you agree to be bound by
                    the
                    revised terms. If you do not agree to the new terms, please stop using the Website.</p>

                <h4>Copyrights</h4>
                <p> You may not reproduce, distribute, modify, or show in public any of the content on this website,
                    including
                    files downloadable from this website, without the permission of the trademark owner.</p>
                <p>Decta trademark is owned by Decta Limited.</p>

                <h4>No warranty</h4>
                <p> This website is provided “as is” without any representations or warranties, express or implied. Decta
                    Limited makes no representations or warranties in relation to this website or the information and
                    materials
                    provided on this website.</p>
                <p> Whilst Decta Limited will try to ensure that the Website is of highest standard, we do not warrant that this
                    website will be constantly available, or available at all or the information on this website is complete,
                    true, accurate or non-misleading.</p>
                <p>In no event Decta Limited will be liable for any damages, including, but not limited to direct or indirect
                    damages arising from or in connection with the use of the Website. Nothing on this website constitutes, or
                    is meant to constitute, advice of any kind.
                </p>


                <h4>Indemnity</h4>
                <p>You hereby indemnify and undertake to keep Decta Limited indemnified against any losses, damages, costs,
                    liabilities and expenses (including without limitation legal expenses and any amounts paid by Decta to a
                    third party in settlement of a claim or dispute on the advice of Decta’s legal advisers) incurred or
                    suffered by Decta arising out of any breach by you of any provision of these terms and conditions, or
                    arising out of any claim that you have breached any provision of these terms and conditions.</p>

                <h4>Contact Us</h4>
                <p>If you have any questions about these Terms, please contact us.</p>
            </div>

        </div>
    </div>


    <logo-block></logo-block>

    <footer-block></footer-block>
</div>