#homepage {
  background-color: #f0f3f5;
  margin: 0;
  font-family: 'Roboto', sans-serif; }
  #homepage .homepage {
    width: 100%; }
    #homepage .homepage .main_section {
      width: 100%;
      height: 750px;
      background-image: url("../../content/img/homepage_bg_main.jpg");
      background-size: cover;
      background-position: center;
      position: relative; }
      #homepage .homepage .main_section .main_section_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1; }
      #homepage .homepage .main_section .container {
        height: 100%;
        z-index: 2;
        position: relative; }
        #homepage .homepage .main_section .container div {
          height: 100%;
          width: 100%; }
          #homepage .homepage .main_section .container div h1, #homepage .homepage .main_section .container div h2 {
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Raleway', sans-serif; }
          #homepage .homepage .main_section .container div h1 {
            font-size: 60px;
            font-weight: bold;
            margin-bottom: 20px; }
          #homepage .homepage .main_section .container div h2 {
            font-size: 36px;
            font-weight: bold;
            margin: 0; }
          #homepage .homepage .main_section .container div div {
            width: 200px;
            height: 5px !important;
            padding: 0;
            background: #ff3750;
            margin-top: 40px; }
    #homepage .homepage .solution {
      width: 100%;
      padding: 120px 0 150px;
      height: 820px;
      background: #ffffff; }
      #homepage .homepage .solution .container .solution_title p {
        margin: 0; }
      #homepage .homepage .solution .container .solution_title div:first-child {
        max-width: 480px;
        margin-bottom: 0;
        float: left; }
        #homepage .homepage .solution .container .solution_title div:first-child p {
          line-height: 56px;
          font-size: 42px;
          font-family: "Raleway", sans-serif;
          font-weight: 300; }
      #homepage .homepage .solution .container .solution_title div:last-child {
        max-width: 320px;
        margin-bottom: 0;
        float: right; }
        #homepage .homepage .solution .container .solution_title div:last-child p {
          font-family: 'Merriweather', serif;
          font-size: 20px;
          font-weight: 400;
          font-style: italic;
          color: #97a3b4;
          line-height: 32px; }
      #homepage .homepage .solution .container .solution_body {
        position: relative;
        width: 960px;
        margin: 0 auto;
        padding-top: 160px; }
        #homepage .homepage .solution .container .solution_body .solution_item {
          position: absolute;
          width: 210px;
          height: 300px;
          padding: 30px;
          transition: .8s all; }
          #homepage .homepage .solution .container .solution_body .solution_item .background {
            width: 100%;
            height: 100%;
            background: transparent !important;
            margin: 0;
            padding: 0;
            margin-top: -30px;
            margin-left: -30px;
            position: absolute;
            transition: .8s all; }
          #homepage .homepage .solution .container .solution_body .solution_item .solution_body_item {
            position: relative;
            z-index: 3; }
            #homepage .homepage .solution .container .solution_body .solution_item .solution_body_item p, #homepage .homepage .solution .container .solution_body .solution_item .solution_body_item h3, #homepage .homepage .solution .container .solution_body .solution_item .solution_body_item span {
              color: white;
              text-transform: uppercase; }
            #homepage .homepage .solution .container .solution_body .solution_item .solution_body_item h3 {
              font-size: 32px;
              font-weight: 300; }
            #homepage .homepage .solution .container .solution_body .solution_item .solution_body_item span {
              opacity: 0;
              transition: .8s all; }
        #homepage .homepage .solution .container .solution_body .solution_item:nth-child(1) {
          left: -5%;
          background: red; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(1) .solution_body_item {
            z-index: 3; }
        #homepage .homepage .solution .container .solution_body .solution_item:nth-child(2) {
          left: 23%;
          margin-top: 10px;
          background: #ff3750; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(2) .solution_body_item {
            z-index: 4; }
        #homepage .homepage .solution .container .solution_body .solution_item:nth-child(3) {
          left: 50%;
          margin-top: 20px;
          background: #ff0aaf; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(3) .solution_body_item {
            z-index: 5; }
        #homepage .homepage .solution .container .solution_body .solution_item:nth-child(4) {
          left: 78%;
          margin-top: 30px;
          background: #ff004e; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(4) .solution_body_item {
            z-index: 6; }
        #homepage .homepage .solution .container .solution_body .solution_item:nth-child(1):hover {
          margin-top: -20px; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(1):hover .background {
            background: rgba(0, 0, 0, 0.4) !important;
            margin-top: -30px; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(1):hover .solution_body_item span {
            opacity: 1; }
        #homepage .homepage .solution .container .solution_body .solution_item:nth-child(2):hover {
          margin-top: -10px; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(2):hover .background {
            background: rgba(0, 0, 0, 0.4) !important;
            margin-top: -30px; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(2):hover .solution_body_item span {
            opacity: 1; }
        #homepage .homepage .solution .container .solution_body .solution_item:nth-child(3):hover {
          margin-top: 0px; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(3):hover .background {
            background: rgba(0, 0, 0, 0.4) !important;
            margin-top: -30px; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(3):hover .solution_body_item span {
            opacity: 1; }
        #homepage .homepage .solution .container .solution_body .solution_item:nth-child(4):hover {
          margin-top: 10px; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(4):hover .background {
            background: rgba(0, 0, 0, 0.4) !important;
            margin-top: -30px; }
          #homepage .homepage .solution .container .solution_body .solution_item:nth-child(4):hover .solution_body_item span {
            opacity: 1; }
    #homepage .homepage .proactive {
      width: 100%;
      padding-top: 70px;
      padding-bottom: 150px;
      height: 620px; }
      #homepage .homepage .proactive .container {
        width: 960px;
        height: 600px; }
        #homepage .homepage .proactive .container div:nth-child(1) {
          width: 560px; }
          #homepage .homepage .proactive .container div:nth-child(1) h3 {
            line-height: 56px;
            font-size: 48px;
            width: 300px;
            font-weight: 300; }
          #homepage .homepage .proactive .container div:nth-child(1) div {
            border-top: 1px solid #dde2e6;
            width: 40%;
            margin: 20px;
            height: 40px; }
            #homepage .homepage .proactive .container div:nth-child(1) div button {
              background: transparent;
              border: none;
              width: 180px;
              text-align: left;
              line-height: 30px;
              font-size: 18px;
              font-weight: 300;
              padding-top: 15px;
              height: 20px;
              transition: .5s opacity; }
            #homepage .homepage .proactive .container div:nth-child(1) div button:hover {
              opacity: .6; }
          #homepage .homepage .proactive .container div:nth-child(1) button.main_button {
            margin-top: 100px;
            font-size: 20px;
            border-radius: 23px; }
        #homepage .homepage .proactive .container div.proactive_img {
          width: 380px;
          position: relative; }
          #homepage .homepage .proactive .container div.proactive_img div {
            width: 100%;
            text-align: center;
            margin: 20px;
            position: absolute; }
          #homepage .homepage .proactive .container div.proactive_img .proactive_0,
          #homepage .homepage .proactive .container div.proactive_img .proactive_1,
          #homepage .homepage .proactive .container div.proactive_img .proactive_2,
          #homepage .homepage .proactive .container div.proactive_img .proactive_3,
          #homepage .homepage .proactive .container div.proactive_img .proactive_4,
          #homepage .homepage .proactive .container div.proactive_img .proactive_5,
          #homepage .homepage .proactive .container div.proactive_img .proactive_6,
          #homepage .homepage .proactive .container div.proactive_img .proactive_7 {
            position: absolute;
            margin-bottom: 20px;
            transition: .5s opacity, .5s margin; }
          #homepage .homepage .proactive .container div.proactive_img .proactive_0 {
            bottom: 200px;
            z-index: 8; }
          #homepage .homepage .proactive .container div.proactive_img .proactive_1 {
            bottom: 150px;
            z-index: 7; }
          #homepage .homepage .proactive .container div.proactive_img .proactive_2 {
            bottom: 100px;
            z-index: 6; }
          #homepage .homepage .proactive .container div.proactive_img .proactive_3 {
            bottom: 50px;
            z-index: 5; }
          #homepage .homepage .proactive .container div.proactive_img .proactive_4 {
            bottom: 0px;
            z-index: 4; }
          #homepage .homepage .proactive .container div.proactive_img .proactive_5 {
            bottom: -50px;
            z-index: 3; }
          #homepage .homepage .proactive .container div.proactive_img .proactive_6 {
            bottom: -100px;
            z-index: 2; }
          #homepage .homepage .proactive .container div.proactive_img .proactive_7 {
            bottom: -150px;
            z-index: 1; }
    #homepage .homepage .carousel .container {
      height: 800px;
      position: relative;
      padding: 40px 0; }
      #homepage .homepage .carousel .container .carousel_content {
        width: 100%;
        height: 800px;
        user-select: none;
        background-color: #303030;
        box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24); }
        #homepage .homepage .carousel .container .carousel_content input {
          display: none; }
        #homepage .homepage .carousel .container .carousel_content h3 {
          top: 10%;
          left: 15%;
          margin-bottom: 100px;
          font-family: "Raleway", sans-serif;
          font-weight: 300;
          font-size: 42px;
          position: absolute;
          z-index: 3;
          color: #ffffff; }
        #homepage .homepage .carousel .container .carousel_content .slide_img {
          position: absolute;
          width: 100%;
          height: 800px;
          z-index: -1;
          opacity: 1;
          transition: .5s opacity; }
          #homepage .homepage .carousel .container .carousel_content .slide_img img {
            width: inherit;
            height: inherit; }
          #homepage .homepage .carousel .container .carousel_content .slide_img .prev, #homepage .homepage .carousel .container .carousel_content .slide_img .next {
            width: 12%;
            position: absolute;
            top: 48%;
            z-index: 99;
            transition: .45s;
            cursor: pointer;
            text-align: center; }
          #homepage .homepage .carousel .container .carousel_content .slide_img .next {
            left: 20px;
            top: 60%; }
          #homepage .homepage .carousel .container .carousel_content .slide_img .prev {
            left: 0; }
          #homepage .homepage .carousel .container .carousel_content .slide_img .prev:hover, #homepage .homepage .carousel .container .carousel_content .slide_img .next:hover {
            transition: .5s;
            background-color: rgba(255, 82, 82, 0.8); }
          #homepage .homepage .carousel .container .carousel_content .slide_img .prev span, #homepage .homepage .carousel .container .carousel_content .slide_img .next span {
            position: absolute;
            width: 0px;
            height: 0px;
            border: solid 20px;
            top: 50%;
            transform: translateY(-50%); }
          #homepage .homepage .carousel .container .carousel_content .slide_img .prev span {
            border-color: transparent #fff transparent transparent;
            right: 35%; }
          #homepage .homepage .carousel .container .carousel_content .slide_img .next span {
            border-color: transparent transparent transparent #fff;
            left: 35%; }
          #homepage .homepage .carousel .container .carousel_content .slide_img .slide_content {
            position: absolute;
            z-index: 3;
            top: 50%;
            width: 350px;
            left: 15%;
            color: #ffffff; }
            #homepage .homepage .carousel .container .carousel_content .slide_img .slide_content h4 {
              font-size: 30px;
              font-weight: 300; }
            #homepage .homepage .carousel .container .carousel_content .slide_img .slide_content p {
              margin-bottom: 50px; }
        #homepage .homepage .carousel .container .carousel_content #nav_slide {
          width: 75%;
          top: 30%;
          left: 15%;
          height: 2px;
          position: absolute;
          z-index: 4;
          cursor: default;
          background: rgba(255, 255, 255, 0.1); }
          #homepage .homepage .carousel .container .carousel_content #nav_slide .dots {
            top: -30px;
            width: 110px;
            height: 2px;
            position: relative;
            display: inline-block;
            background: transparent;
            transition: .8s;
            cursor: pointer;
            border: none;
            z-index: 2; }
            #homepage .homepage .carousel .container .carousel_content #nav_slide .dots p {
              line-height: -10px;
              margin: 0;
              margin-top: -50px;
              margin-bottom: 20px;
              z-index: 2;
              color: #ffffff;
              font-family: "Raleway", sans-serif;
              font-weight: 300; }
          #homepage .homepage .carousel .container .carousel_content #nav_slide #dot1:hover,
          #homepage .homepage .carousel .container .carousel_content #nav_slide #dot2:hover,
          #homepage .homepage .carousel .container .carousel_content #nav_slide #dot3:hover,
          #homepage .homepage .carousel .container .carousel_content #nav_slide #dot4:hover,
          #homepage .homepage .carousel .container .carousel_content #nav_slide #dot5:hover {
            background: #ffffff; }
        @media screen and (max-width: 685px) {
          #homepage .homepage .carousel .container .carousel_content .container {
            border: none;
            width: 100%;
            height: 0;
            padding-bottom: 55%; }
            #homepage .homepage .carousel .container .carousel_content .container .slide_img .prev, #homepage .homepage .carousel .container .carousel_content .container .slide_img .next {
              width: 15%; }
            #homepage .homepage .carousel .container .carousel_content .container .slide_img .prev span, #homepage .homepage .carousel .container .carousel_content .container .slide_img .next span {
              border: solid 12px; }
            #homepage .homepage .carousel .container .carousel_content .container .slide_img .prev span {
              border-color: transparent #fff transparent transparent; }
            #homepage .homepage .carousel .container .carousel_content .container .slide_img .next span {
              border-color: transparent transparent transparent #fff; }
            #homepage .homepage .carousel .container .carousel_content .container #nav_slide .dots {
              width: 12px;
              height: 12px; } }
      #homepage .homepage .carousel .container #i1:checked ~ #one,
      #homepage .homepage .carousel .container #i2:checked ~ #two,
      #homepage .homepage .carousel .container #i3:checked ~ #three,
      #homepage .homepage .carousel .container #i4:checked ~ #four,
      #homepage .homepage .carousel .container #i5:checked ~ #five {
        z-index: 2;
        animation: scroll 1s linear; }
      #homepage .homepage .carousel .container #i1:checked ~ #nav_slide #dot1,
      #homepage .homepage .carousel .container #i2:checked ~ #nav_slide #dot2,
      #homepage .homepage .carousel .container #i3:checked ~ #nav_slide #dot3,
      #homepage .homepage .carousel .container #i4:checked ~ #nav_slide #dot4,
      #homepage .homepage .carousel .container #i5:checked ~ #nav_slide #dot5 {
        background: #ffffff; }

@keyframes scroll {
  0% {
    opacity: .1; }
  100% {
    opacity: 1; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    #homepage .homepage .solution .container .solution_body {
      width: 800px !important; } }
  @media (min-width: 768px) and (max-width: 992px) {
    #homepage .homepage .solution {
      height: auto; }
      #homepage .homepage .solution .container .solution_body {
        width: auto !important;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        justify-content: center; }
        #homepage .homepage .solution .container .solution_body .solution_item {
          position: relative;
          margin: 10px;
          left: inherit !important; }
    #homepage .homepage .proactive .container {
      width: auto; }
      #homepage .homepage .proactive .container .proactive_img {
        display: none; }
    #homepage .homepage .carousel .container {
      height: 600px; }
      #homepage .homepage .carousel .container .carousel_content {
        height: 600px; }
        #homepage .homepage .carousel .container .carousel_content .slide_img {
          height: 600px; }
        #homepage .homepage .carousel .container .carousel_content #nav_slide {
          top: 33%; }
          #homepage .homepage .carousel .container .carousel_content #nav_slide .dots {
            width: 109px; } }
  @media (min-width: 540px) and (max-width: 768px) {
    #homepage .homepage .solution {
      height: auto; }
      #homepage .homepage .solution .container .solution_title {
        flex-direction: column; }
      #homepage .homepage .solution .container .solution_body {
        padding-top: 100px;
        width: auto !important;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        justify-content: center; }
        #homepage .homepage .solution .container .solution_body .solution_item {
          position: relative;
          margin: 10px;
          left: inherit !important; }
    #homepage .homepage .proactive .container {
      width: auto; }
      #homepage .homepage .proactive .container .proactive_img {
        display: none; }
    #homepage .homepage .carousel .container {
      height: 500px; }
      #homepage .homepage .carousel .container .carousel_content {
        height: 500px; }
        #homepage .homepage .carousel .container .carousel_content .slide_img {
          height: 500px; }
          #homepage .homepage .carousel .container .carousel_content .slide_img .next {
            left: inherit;
            top: 50%;
            right: 0; }
        #homepage .homepage .carousel .container .carousel_content .slide_content {
          text-align: center;
          top: 30% !important; }
        #homepage .homepage .carousel .container .carousel_content #nav_slide {
          top: inherit;
          bottom: 10%;
          background: transparent;
          text-align: center; }
          #homepage .homepage .carousel .container .carousel_content #nav_slide .dots {
            width: 30px;
            height: 4px;
            border-radius: 1px;
            text-align: center;
            background: #303030; }
            #homepage .homepage .carousel .container .carousel_content #nav_slide .dots p {
              display: none; } }
  @media (max-width: 540px) {
    #homepage .homepage .solution {
      height: auto; }
      #homepage .homepage .solution .container .solution_title {
        flex-direction: column; }
      #homepage .homepage .solution .container .solution_body {
        padding-top: 100px;
        width: auto !important;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        justify-content: center; }
        #homepage .homepage .solution .container .solution_body .solution_item {
          position: relative;
          margin: 10px;
          left: inherit !important; }
    #homepage .homepage .proactive {
      height: 860px; }
      #homepage .homepage .proactive .container {
        height: 800px;
        width: auto; }
        #homepage .homepage .proactive .container div:nth-child(1) {
          width: auto;
          flex-direction: column;
          flex-wrap: nowrap; }
          #homepage .homepage .proactive .container div:nth-child(1) div {
            width: 100%;
            margin: 20px 0; }
          #homepage .homepage .proactive .container div:nth-child(1) button.main_button {
            padding: 12px 24px 32px;
            margin-top: 50px; }
        #homepage .homepage .proactive .container .proactive_img {
          display: none; }
    #homepage .homepage .carousel .container {
      width: auto;
      padding: 0;
      height: 400px; }
      #homepage .homepage .carousel .container .carousel_content {
        height: 400px; }
        #homepage .homepage .carousel .container .carousel_content h3 {
          top: -1%;
          font-size: 35px;
          left: 50%;
          margin-left: -145px; }
        #homepage .homepage .carousel .container .carousel_content .slide_img {
          height: 400px; }
          #homepage .homepage .carousel .container .carousel_content .slide_img .next {
            left: inherit;
            top: 36%;
            right: 5%; }
          #homepage .homepage .carousel .container .carousel_content .slide_img .prev {
            top: 36%;
            left: 5%; }
        #homepage .homepage .carousel .container .carousel_content .slide_content {
          text-align: center;
          top: 18% !important;
          width: 260px !important;
          left: 50% !important;
          margin-left: -130px !important; }
          #homepage .homepage .carousel .container .carousel_content .slide_content h4 {
            margin-bottom: 0px; }
          #homepage .homepage .carousel .container .carousel_content .slide_content p {
            margin-bottom: 15px !important; }
        #homepage .homepage .carousel .container .carousel_content #nav_slide {
          top: inherit;
          bottom: 5%;
          background: transparent;
          text-align: center; }
          #homepage .homepage .carousel .container .carousel_content #nav_slide .dots {
            width: 30px;
            height: 4px;
            border-radius: 1px;
            text-align: center;
            background: #303030; }
            #homepage .homepage .carousel .container .carousel_content #nav_slide .dots p {
              display: none; } }

#header_site {
  padding: 36px 0;
  transition: .5s padding;
  height: 36px;
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 30;
  border-bottom: 1px solid rgba(221, 226, 230, 0.5); }
  #header_site .header_site_content .header_site_content_logo {
    float: left;
    width: 150px; }
    #header_site .header_site_content .header_site_content_logo img {
      height: 36px; }
  #header_site .header_site_content .header_site_content_menu {
    float: left; }
    #header_site .header_site_content .header_site_content_menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #header_site .header_site_content .header_site_content_menu ul li {
        float: left;
        margin-left: 26px; }
        #header_site .header_site_content .header_site_content_menu ul li a, #header_site .header_site_content .header_site_content_menu ul li span {
          text-transform: uppercase;
          font-size: 11px;
          line-height: 36px;
          letter-spacing: 1px;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          color: #384656;
          text-decoration: none;
          cursor: pointer; }
        #header_site .header_site_content .header_site_content_menu ul li span {
          position: relative; }
        #header_site .header_site_content .header_site_content_menu ul li a:hover,
        #header_site .header_site_content .header_site_content_menu ul li span:hover {
          color: #ff3750; }
        #header_site .header_site_content .header_site_content_menu ul li span:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          background: 0;
          border-style: solid;
          border-width: 4px 4px 0;
          border-color: #384656 transparent transparent;
          display: inline-block;
          right: -11px;
          top: 4px; }
        #header_site .header_site_content .header_site_content_menu ul li .solutions_list {
          position: absolute;
          width: 100%;
          opacity: 0;
          top: calc(100% - 40px);
          left: 0;
          border-top: 40px solid transparent;
          transition: .5s opacity, .5s transform;
          background: white;
          padding: 40px 40px 40px 220px;
          z-index: -5;
          transform: scaleY(0); }
        #header_site .header_site_content .header_site_content_menu ul li .lang_list {
          width: 80px;
          position: absolute;
          top: 65px;
          background-color: #fff;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          transition-delay: 0s, 0.2s;
          transition-property: opacity, visibility;
          transition-duration: 0.2s, 0s;
          opacity: 0;
          visibility: hidden; }
          #header_site .header_site_content .header_site_content_menu ul li .lang_list li {
            margin: 0 !important; }
            #header_site .header_site_content .header_site_content_menu ul li .lang_list li span {
              padding: 0 10px; }
          #header_site .header_site_content .header_site_content_menu ul li .lang_list span:after {
            border-style: none; }
          #header_site .header_site_content .header_site_content_menu ul li .lang_list.active {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s, 0s; }
      #header_site .header_site_content .header_site_content_menu ul li:nth-child(1) {
        margin-left: 0px; }
      #header_site .header_site_content .header_site_content_menu ul li:nth-child(1):hover .solutions_list {
        opacity: 1;
        transform: scaleY(1);
        transition: .5s opacity, .3s transform; }
  #header_site .header_site_content .header_site_content_social {
    float: right; }
    #header_site .header_site_content .header_site_content_social div {
      width: 140px; }
      #header_site .header_site_content .header_site_content_social div .main_button {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 0; }
  #header_site .header_site_content .header_site_content_button {
    float: right;
    margin-left: 20px; }
    #header_site .header_site_content .header_site_content_button div .main_button:nth-child(2) {
      margin-left: 20px; }
  #header_site .header_site_content .header_wrapper {
    width: 240px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(14, 24, 44, 0.2);
    z-index: 100;
    transition: transform ease-out 0.3s;
    transform: translateX(120%);
    overflow-y: auto; }
    #header_site .header_site_content .header_wrapper .header_wrapper_block {
      height: 100%;
      width: 100%;
      position: relative;
      min-height: 580px;
      padding-top: 88px; }
      #header_site .header_site_content .header_wrapper .header_wrapper_block .header_site_content_menu {
        border-top: 1px solid rgba(221, 226, 230, 0.5);
        width: 100%; }
        #header_site .header_site_content .header_wrapper .header_wrapper_block .header_site_content_menu ul li {
          float: none;
          margin-left: 30px !important; }
        #header_site .header_site_content .header_wrapper .header_wrapper_block .header_site_content_menu ul .lang_list {
          top: 300px; }
          #header_site .header_site_content .header_wrapper .header_wrapper_block .header_site_content_menu ul .lang_list li {
            margin: 0 !important; }
      #header_site .header_site_content .header_wrapper .header_wrapper_block .header_wrapper_bottom {
        bottom: 0;
        border-top: 1px solid #ebeef0;
        padding: 30px;
        overflow: hidden;
        margin-top: auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        left: 0;
        right: 0; }
        #header_site .header_site_content .header_wrapper .header_wrapper_block .header_wrapper_bottom .header_site_content_button,
        #header_site .header_site_content .header_wrapper .header_wrapper_block .header_wrapper_bottom .header_site_content_social {
          float: none; }
        #header_site .header_site_content .header_wrapper .header_wrapper_block .header_wrapper_bottom .header_site_content_social {
          margin: 20px 0 !important; }
          #header_site .header_site_content .header_wrapper .header_wrapper_block .header_wrapper_bottom .header_site_content_social div {
            width: 180px; }
        #header_site .header_site_content .header_wrapper .header_wrapper_block .header_wrapper_bottom .header_site_content_button {
          margin: 0 !important; }
          #header_site .header_site_content .header_wrapper .header_wrapper_block .header_wrapper_bottom .header_site_content_button div .main_button {
            width: 100%; }
          #header_site .header_site_content .header_wrapper .header_wrapper_block .header_wrapper_bottom .header_site_content_button div .main_button:nth-child(2) {
            margin: 20px 0 !important; }
    #header_site .header_site_content .header_wrapper .header_wrapper_close {
      width: 100%;
      height: 100%;
      position: absolute;
      right: -190px;
      top: 28px; }
      #header_site .header_site_content .header_wrapper .header_wrapper_close .main_button {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 0; }
    #header_site .header_site_content .header_wrapper.active {
      transform: translateX(0%);
      transition: transform ease-out 0.3s; }
  #header_site .header_site_content .header_wrapper_open {
    float: right; }
    #header_site .header_site_content .header_wrapper_open .main_button {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      padding: 0; }

@media (min-width: 1500px) {
  .header_site_content .header_wrapper_open {
    display: none; } }

@media (min-width: 1200px) and (max-width: 1500px) {
  .header_site_content .header_site_content_menu ul li {
    margin-left: 19px !important; }
  .header_site_content .header_site_content_menu ul li:nth-child(1) {
    margin-left: 0px !important; }
  .header_site_content .header_site_content_button div .main_button:nth-child(2) {
    margin-left: 10px !important; }
  .header_site_content .header_wrapper_open {
    display: none; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #header_site {
    padding: 26px 0px; }
    #header_site .header_site_content .header_site_content_menu,
    #header_site .header_site_content .header_site_content_social,
    #header_site .header_site_content .header_site_content_button {
      display: block; }
    #header_site .header_site_content .header_wrapper_open {
      display: none; } }

@media (min-width: 768px) and (max-width: 992px) {
  #header_site {
    padding: 26px 30px; }
    #header_site .header_site_content .header_site_content_menu,
    #header_site .header_site_content .header_site_content_social,
    #header_site .header_site_content .header_site_content_button {
      display: none; }
    #header_site .header_site_content .header_wrapper .header_site_content_menu,
    #header_site .header_site_content .header_wrapper .header_site_content_social,
    #header_site .header_site_content .header_wrapper .header_site_content_button {
      display: block; } }

@media (min-width: 540px) and (max-width: 768px) {
  #header_site {
    padding: 26px 30px; }
    #header_site .header_site_content .header_site_content_menu,
    #header_site .header_site_content .header_site_content_social,
    #header_site .header_site_content .header_site_content_button {
      display: none; }
    #header_site .header_site_content .header_wrapper .header_site_content_menu,
    #header_site .header_site_content .header_wrapper .header_site_content_social,
    #header_site .header_site_content .header_wrapper .header_site_content_button {
      display: block; } }

@media (max-width: 540px) {
  #header_site {
    padding: 26px 0px; }
    #header_site .header_site_content .header_site_content_menu,
    #header_site .header_site_content .header_site_content_social,
    #header_site .header_site_content .header_site_content_button {
      display: none; }
    #header_site .header_site_content .header_wrapper .header_site_content_menu,
    #header_site .header_site_content .header_wrapper .header_site_content_social,
    #header_site .header_site_content .header_wrapper .header_site_content_button {
      display: block; } }

#footer_block {
  height: auto;
  width: 100%;
  background: #202020;
  padding: 40px 0;
  font-family: 'Roboto', sans-serif; }
  #footer_block .container .footer_container .footer_toolbar {
    border-bottom: 1px solid #303030;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative; }
    #footer_block .container .footer_container .footer_toolbar .footer_toolbar_nav {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      line-height: 1.42857;
      color: #384656;
      -webkit-font-smoothing: antialiased; }
      #footer_block .container .footer_container .footer_toolbar .footer_toolbar_nav .footer_nav .footer_nav_item {
        font-weight: 700;
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 1px;
        text-transform: uppercase; }
        #footer_block .container .footer_container .footer_toolbar .footer_toolbar_nav .footer_nav .footer_nav_item .footer_toolbar_btn {
          width: 30px;
          height: 30px;
          position: relative;
          cursor: pointer; }
          #footer_block .container .footer_container .footer_toolbar .footer_toolbar_nav .footer_nav .footer_nav_item .footer_toolbar_btn i.footer_toolbar_icon {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 7px;
            font-size: 15px;
            fill: #95a2b4; }
      #footer_block .container .footer_container .footer_toolbar .footer_toolbar_nav .footer_nav a {
        color: rgba(151, 163, 180, 0.5);
        text-decoration: none; }
      #footer_block .container .footer_container .footer_toolbar .footer_toolbar_nav .footer_nav a:hover {
        color: #ff3750; }
  #footer_block .container .footer_container .footer_addon p {
    line-height: 20px;
    font-size: 13px;
    color: rgba(151, 163, 180, 0.5); }
  #footer_block .container .footer_container .footer_copyright {
    margin-top: 30px; }
    #footer_block .container .footer_container .footer_copyright p {
      line-height: 20px;
      font-size: 13px;
      color: rgba(151, 163, 180, 0.5);
      margin: 0; }

@media (min-width: 1200px) and (max-width: 1499px) {
  #footer_block .container {
    width: 960px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #footer_block .container {
    width: 960px; } }

@media (min-width: 768px) and (max-width: 992px) {
  #footer_block .container .footer_container .footer_toolbar .footer_toolbar_nav .footer_nav .footer_nav_item {
    width: 50%;
    float: left;
    margin-top: 24px; } }

@media (min-width: 540px) and (max-width: 768px) {
  #footer_block .container .footer_container .footer_toolbar .footer_toolbar_nav .footer_nav .footer_nav_item {
    width: 50%;
    float: left;
    margin-top: 24px; } }

@media (max-width: 540px) {
  #footer_block .container .footer_container .footer_toolbar .footer_toolbar_nav .footer_nav .footer_nav_item {
    width: 50%;
    float: left;
    margin-top: 24px; } }

.top_button .top_button_click {
  z-index: 10000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: 3px solid #8b8b8b;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  opacity: 0;
  transition: 0.8s all; }
  .top_button .top_button_click svg {
    color: #8b8b8b;
    font-size: 30px; }

.top_button .active_top_button {
  opacity: 1 !important; }

.top_button .top_button_click:hover {
  background: #f7b44c; }

#logo_block {
  border-top: 1px solid #ebeef0;
  padding: 40px 0;
  background: #ffffff;
  width: 100%; }
  #logo_block .container div .logo_block_item {
    font-size: 0;
    line-height: 1; }
    #logo_block .container div .logo_block_item img {
      height: 50px !important;
      width: auto; }

@media (min-width: 1500px) {
  #logo_block .container {
    width: 800px; } }

@media (min-width: 1200px) and (max-width: 1500px) {
  #logo_block .container {
    width: 800px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #logo_block .container {
    width: 800px; } }

@media (min-width: 768px) and (max-width: 992px) {
  #logo_block .container {
    width: 700px; } }

@media (min-width: 540px) and (max-width: 768px) {
  #logo_block .container {
    width: 500px; } }

@media (max-width: 540px) {
  #logo_block .container {
    width: 300px; } }

::-webkit-scrollbar {
  width: 0px; }

a,
button {
  cursor: pointer; }

select:focus,
a:focus,
button:focus {
  outline: none; }

.main_button {
  border: none;
  box-sizing: border-box;
  padding: 12px 24px 11px;
  border-radius: 18px;
  display: inline-block;
  background-color: rgba(241, 96, 110, 0.08);
  transition: background-color ease 0.4s;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 13px;
  color: #f8325c;
  cursor: pointer;
  text-align: center; }
  .main_button.primary {
    background-color: #ff3750;
    color: #fff; }

.main_button:hover {
  background-color: rgba(241, 96, 110, 0.17); }
  .main_button:hover.primary {
    background-color: rgba(255, 55, 80, 0.55); }

.container {
  margin: 0 auto; }

@media (min-width: 1500px) {
  .container {
    width: 1440px; } }

@media (min-width: 1200px) and (max-width: 1500px) {
  .container {
    width: 1170px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px; } }

@media (min-width: 540px) and (max-width: 768px) {
  .container {
    width: 500px; } }

@media (max-width: 540px) {
  .container {
    width: 310px; } }
