<div id="about">
    <header-block></header-block>


    <div class="about">
        <div class="about_title">
            <div class="container">
                <div layout="row" layout-align=" start end">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
        <div class="about_block" layout="row" layout-align="space-between start">
            <div><p>Never ending technological progress brings higher convenience and efficiency in processes that span
                the payment industry. We work hard to stay relevant in this constantly changing environment to provide
                reliable payment services and support to the most demanding clients and businesses.</p></div>
            <div></div>
        </div>
        <div class="about_about">
            <div class="container">
                <div layout="row" layout-align="space-between center">
                    <div class="left_block">
                        <p>Iscopay – международная процессинговая компания, предоставляющая
                            высокотехнологичные услуги в сфере процессинга, интернет-эквайринга, а также эмиссии
                            платёжных
                            карт для банков, платёжных сервис-провайдеров и корпоративных клиентов по всему миру.
                        </p>
                        <p>Работа компании основана на индивидуальном подходе к требованиям каждого клиента, и мы готовы
                            предложить нашим клиентам только лучшие в своем классе решения, способные адаптироваться к
                            постоянно меняющейся среде платежей и платёжных карт.</p>
                    </div>
                    <div class="right_block" layout="column">
                        <img src="content/img/about/Flag_of_the_United_Kingdom.svg" alt="">
                        <p>Компания Iscopay зарегистрирована в Великобритании, является Эмитентом электронных
                            денег и держателем лицензии FCA (900592)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_office">
            <div class="container" layout="column">
                <div layout="row" layout-align="center start" class="first_block">
                    <div><p>Компания Iscopay представлена головным офисом в Лондоне, и мы гордимся тем, что
                        находимся в самом центре Fintech-индустрии. Наши решения включают в себя современные технологии,
                        привносящие мобильность в финансовый мир и объединяют такие услуги, как процессинг
                        онлайн-платежей, электронные кошельки, услуги перевода денег, выпуск платёжных карт и др. </p>
                    </div>
                    <div><p>Наши амбиции на этом не заканчиваются. Мы стремимся предоставлять современные решения,
                        основанные на передовых технологиях и ноу-хау. Мы идем в ногу со временем в сфере новейших
                        платёжных и карточных решений, а успех нашей компании — это идеальное сочетание современных
                        технологий, надежного сервиса и профессиональной команды.</p></div>
                </div>
                <div class="second_block"><p>Iscopay является официальным сервис-провайдером международных платежных
                    систем Visa
                    International и MasterCard Worldwide, а также обладает статусом Principal Member.</p></div>
            </div>
        </div>
        <div class="about_map">
            <div class="container">
                <div class="about_map_text" layout="row"
                     layout-align="space-around start">
                    <div>
                        <h3>27</h3>
                        <p>стран с осуществлёнными проектами</p>
                    </div>
                    <div>
                        <h3>20+</h3>
                        <p>лет командного опыта в платёжной индустрии</p>
                    </div>
                    <div>
                        <h3>2000+</h3>
                        <p>клиентов</p>
                    </div>
                </div>
                <div class="about_map_value">
                    <h3>Основные ценности компании Iscopay</h3>
                    <div layout="row" layout-align="space-around center" layout-wrap>
                        <div class="about_map_value_item" layout-align="start" layout="column"
                             ng-repeat="value in vm.values">
                            <img src="{{value.image}}" alt="">
                            <h4>{{value.title}}</h4>
                            <p>{{value.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_vision">
            <div class="container" layout="row" layout-align="space-around start">
                <div><h3>Видение компании Iscopay</h3></div>
                <div><p>Наше видение – стать самым надежным деловым партнером и предпочтительным поставщиком платёжных
                    решений для различных организаций и компаний, позволяя им успешно конкурировать и динамично
                    развиваться в условиях современного рынка</p></div>
            </div>
        </div>
    </div>


    <logo-block></logo-block>

    <footer-block></footer-block>
</div>