<div id="card_issuing">
    <div id="payment_processing">
        <header-block></header-block>


        <div class="merchant_title">
            <div class="container">
                <div>
                    <div></div>
                    <h2>Iscopay Smart White-Label Card Issuing Solution</h2>
                    <p>Iscopay Smart offers white-label card issuing and processing services allowing organisations to
                        launch bespoke card programmes quickly and efficiently without the need to invest into
                        standalone solution.</p>
                    <span>IscoPay Smart service is available for private individuals and companies from the European Economic Area and designed to respond to our customers’ needs to create a compelling new range of products including digital wallets, physical or virtual cards, and reloadable or non-reloadable cards.</span>
                    <span>IscoPay Smart White-Label Card Issuing Solution ensures operation and interoperability of smart cards throughout the payment systems, as well as facilitates clearing and settlement processes. Decta possesses its own processing centre, fully integrated with payment systems to provide a flexible and competitive solution for prepaid card issuing programmes.</span>
                </div>

            </div>
        </div>

        <solution-block></solution-block>

        <benefits-block></benefits-block>

        <logo-block></logo-block>

        <footer-block></footer-block>
    </div>
</div>