<div id="cookie">
    <header-block></header-block>


    <div class="cookie">
        <div class="cookie_title">
            <div class="container">
                <div layout="row" layout-align=" start end">
                    <h2>Cookie Policy for website</h2>
                </div>
            </div>
        </div>
        <div class="cookie_body">
            <div class="container">
                <span>Использование файлов Cookies</span>
                <p>Мы используем файлы cookies на портале decta.com, которые помогают нам улучшить функциональность и
                    обеспечить безопасные условия пользования сайтом. В любое время Вы можете ограничить их
                    использование, изменив настройки браузера и удалив сохраненные файлы.</p>


                <h4>Общие цели использования cookie файлов являются следующими:</h4>
                <ul>
                    <li><p>Если вы желаете, чтобы в ваших устройствах не использовались файлы cookie, вы можете изменить настройки
                        безопасности своего браузера. Настройки необходимо изменить для каждого браузера отдельно и применяемые
                        методы настроек могут отличаться.</p></li>
                    <li><p>Если вы желаете, чтобы в ваших устройствах не использовались файлы cookie, вы можете изменить настройки
                        безопасности своего браузера. Настройки необходимо изменить для каждого браузера отдельно и применяемые
                        методы настроек могут отличаться.</p></li>
                    <li><p>Если вы желаете, чтобы в ваших устройствах не использовались файлы cookie, вы можете изменить настройки
                        безопасности своего браузера. Настройки необходимо изменить для каждого браузера отдельно и применяемые
                        методы настроек могут отличаться.</p></li>
                </ul>
                <h4>Как ограничить использование файлов cookies?</h4>
                <p>Если вы желаете, чтобы в ваших устройствах не использовались файлы cookie, вы можете изменить настройки
                    безопасности своего браузера. Настройки необходимо изменить для каждого браузера отдельно и применяемые
                    методы настроек могут отличаться.</p>


                <h4>Где можно получить информацию?</h4>
                <p> Если у вас появились вопросы или предложения, просим звонить по телефону:</p>
                <p>UK: +44 20 3750 2195, EU: +371 63 007 007 или писать на адрес электронной почты info@decta.com.</p>

            </div>
        </div>
    </div>


    <logo-block></logo-block>

    <footer-block></footer-block>
</div>