<div id="cookie">
    <header-block></header-block>


    <div class="cookie">
        <div class="cookie_title">
            <div class="container">
                <div layout="row" layout-align=" start end">
                    <h2>{{'cookie_title'|translate}}</h2>
                </div>
            </div>
        </div>
        <div class="cookie_body">
            <div class="container">
                <span>{{'cookie_subtitle'|translate}}</span>
                <p>{{'cookie_text1'|translate}}</p>


                <h4>{{'cookie_strong1'|translate}}</h4>
                <ul>
                    <li><p>{{'cookie_list1_text1'|translate}}</p></li>
                    <li><p>{{'cookie_list1_text2'|translate}}.</p></li>
                    <li><p>{{'cookie_list1_text3'|translate}}</p></li>
                </ul>
                <h4>{{'cookie_strong2'|translate}}</h4>
                <p>{{'cookie_text2'|translate}}</p>


                <h4>{{'cookie_strong3'|translate}}</h4>
                <p>{{'cookie_text3'|translate}}</p>
                <p>{{'cookie_text4'|translate}}</p>

            </div>
        </div>
    </div>


    <logo-block></logo-block>

    <footer-block></footer-block>
</div>