<div id="homepage">

    <header-block></header-block>

    <div class="homepage">

        <!--main_section-->

        <div class="main_section">
            <div class="main_section_bg"></div>
            <div class="container">
                <div layout="column" layout-align="center center">
                    <h1>we make</h1>
                    <h2>electronic payments safe an easy</h2>
                    <div></div>
                </div>
            </div>
        </div>

        <!--main_section-->

        <!--solution-->

        <div class="solution">
            <div class="container">
                <div class="solution_title" layout="row" layout-align="space-between start">
                    <div>
                        <p>Full suite of processing solutions for online payments</p>
                    </div>
                    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusan</p></div>
                </div>
                <div class="solution_body" layout="row">
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>first</p>
                            <h3>merchant-account</h3>
                            <span>lorem ipsum dolor</span>
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>second</p>
                            <h3>Online Acquiring </h3>
                            <span>lorem ipsum dolor</span>
                            <div></div>
                        </div>
                    </div>
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>third</p>
                            <h3>Payment Processing</h3>
                            <span>lorem ipsum dolor</span>
                            <div></div>
                        </div>
                    </div>
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>fourth</p>
                            <h3>Card Issuing</h3>
                            <span>lorem ipsum dolor</span>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--solution-->

        <div class=""></div>

        <!--carousel-->

        <div class="carousel">
            <div class="container">
                <div class="carousel_content">
                    <input type="radio" id="i1" name="images" checked/>
                    <input type="radio" id="i2" name="images"/>
                    <input type="radio" id="i3" name="images"/>
                    <input type="radio" id="i4" name="images"/>
                    <input type="radio" id="i5" name="images"/>


                    <h3>Versatile solutions</h3>

                    <div class="slide_img" id="one">

                        <img src="/content/img/hp_carousel/versatile_02.jpg">

                        <label class="prev" for="i4"><span></span></label>
                        <label class="next" for="i2"><span></span></label>

                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    Wide range of businesses
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p> Our solutions are tailored for small, medium and large businesses, including merchants, PSP’s, acquirers and issuers</p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button"> Learn more</button>

                            </div>
                        </div>



                    </div>

                    <div class="slide_img" id="two">

                        <img src="/content/img/hp_carousel/versatile_01.jpg">

                        <label class="prev" for="i1"><span></span></label>
                        <label class="next" for="i3"><span></span></label>
                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    Secure technologies
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p>Decta’s fraud prevention and risk management technologies adhere to the highest security standards for online payment services</p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button"> Learn more</button>

                            </div>
                        </div>

                    </div>

                    <div class="slide_img" id="three">
                        <img src="/content/img/hp_carousel/versatile_03.jpg">

                        <label class="prev" for="i2"><span></span></label>
                        <label class="next" for="i4"><span></span></label>

                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    Wide range of  industries
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p>Lorem provides solutions for wide range of industries, including financial, gaming and gambling, Forex, and much more</p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button"> Learn more</button>

                            </div>
                        </div>


                    </div>


                    <div class="slide_img" id="four">
                        <img src="/content/img/hp_carousel/versatile_05.jpg">

                        <label class="prev" for="i3"><span></span></label>
                        <label class="next" for="i5"><span></span></label>

                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    Secure technologies
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p>Lorem fraud prevention and risk management technologies adhere to the highest security standards for online payment services</p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button"> Learn more</button>

                            </div>
                        </div>

                    </div>

                    <div class="slide_img" id="five">
                        <img src="/content/img/hp_carousel/versatile_04.jpg">

                        <label class="prev" for="i4"><span></span></label>
                        <label class="next" for="i1"><span></span></label>

                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    Global processing
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p>Our solutions are designed to support domestic and international processing for online payments across the globe</p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button"> Learn more</button>

                            </div>
                        </div>

                        </div>



                    <div id="nav_slide">

                        <div>
                            <div>
                                <label for="i1" class="dots" id="dot1"><p>Wide range of business</p></label>
                                <label for="i2" class="dots" id="dot2"><p>Wide range of industries</p></label>
                                <label for="i3" class="dots" id="dot3"><p>Multi-currency processing</p></label>
                                <label for="i4" class="dots" id="dot4"><p>Secure technologies</p></label>
                                <label for="i5" class="dots" id="dot5"><p>Global processing</p></label></div>
                        </div>

                    </div>
                </div>


            </div>

        </div>

        <!--carousel-->

    </div>

    <logo-block></logo-block>

    <footer-block></footer-block>

</div>