<div id="homepage">

    <header-block></header-block>


    <div class="homepage">

        <!--main_section-->

        <div class="main_section">
            <div class="main_section_bg"></div>
            <div class="container">
                <div layout="column" layout-align="center center">
                    <h1>{{ 'homepage_title' | translate }}</h1>
                    <h2>{{ 'homepage_subtitle' | translate }}</h2>
                    <div></div>
                </div>
            </div>
        </div>

        <!--main_section-->

        <!--solution-->

        <div class="solution">
            <div class="container">
                <div class="solution_title" layout="row" layout-align="space-between start">
                    <div>
                        <p>{{ 'homepage_solution_title' | translate }}</p>
                    </div>
                    <div><p>{{ 'homepage_solution_subtitle' | translate }}</p></div>
                </div>
                <div class="solution_body" layout="row">
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>{{ 'homepage_solution_item1_subtitle' | translate }}</p>
                            <h3>{{ 'homepage_solution_item1_title' | translate }}</h3>
                            <span>{{ 'homepage_solution_item1_text' | translate }}</span>
                            <img src="content/img/solutions/core (1).svg" alt="">
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>{{ 'homepage_solution_item2_subtitle' | translate }}</p>
                            <h3>{{ 'homepage_solution_item2_title' | translate }}</h3>
                            <span>{{ 'homepage_solution_item2_text' | translate }}</span>
                            <img src="content/img/solutions/expert.svg" alt="">
                            <div></div>
                        </div>
                    </div>
                    <!--<div class="solution_item">-->
                        <!--<div class="background"></div>-->
                        <!--<div class="solution_body_item">-->
                            <!--<p>iscopay stream</p>-->
                            <!--<h3>Payment Processing</h3>-->
                            <!--<span>Empower your business with our comprehensive Payment Processing Solution for issuers and acquirers.</span>-->
                            <!--<img src="content/img/solutions/processing_2.svg" alt="">-->
                            <!--<div></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="solution_item">-->
                        <!--<div class="background"></div>-->
                        <!--<div class="solution_body_item">-->
                            <!--<p>iscopay smart</p>-->
                            <!--<h3>Card Issuing</h3>-->
                            <!--<span>Expand your offering with our white-label Card Issuing Solution and launch your own card programme.</span>-->
                            <!--<img src="content/img/solutions/smart.svg" alt="">-->
                            <!--<div></div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <!--solution-->

        <!--proactive-->

        <div class="proactive">
            <div class="container" layout="row" layout-align="center">
                <div layout="row" layout-wrap layout-align="start">
                    <h3>{{ 'homepage_proactive_title' | translate }}</h3>
                    <div ng-repeat="button in vm.proactive">
                        <button id="proactive_{{$index}}" ng-mouseover="vm.proactiveAnim($index)"
                                ng-mouseleave="vm.proactiveAnimOff($index)">
                            {{ button.text | translate }}
                        </button>
                    </div>
                    <button class="main_button" ui-sref="prices">{{ 'our_solutions' | translate }}</button>

                </div>
                <div layout="column" class="proactive_img">
                    <div class="proactive_0"><img src="content/img/proactive/1.png" alt=""></div>
                    <div class="proactive_1"><img src="content/img/proactive/2.png" alt=""></div>
                    <div class="proactive_2"><img src="content/img/proactive/3.png" alt=""></div>
                    <div class="proactive_3"><img src="content/img/proactive/4.png" alt=""></div>
                    <div class="proactive_4"><img src="content/img/proactive/5.png" alt=""></div>
                    <div class="proactive_5"><img src="content/img/proactive/6.png" alt=""></div>
                    <div class="proactive_6"><img src="content/img/proactive/7.png" alt=""></div>
                    <div class="proactive_7"><img src="content/img/proactive/8.png" alt=""></div>
                </div>
            </div>
        </div>

        <!--proactive-->

        <!--carousel-->

        <div class="carousel">
            <div class="container">
                <div class="carousel_content">
                    <input type="radio" id="i1" name="images" checked/>
                    <input type="radio" id="i2" name="images"/>
                    <input type="radio" id="i3" name="images"/>
                    <input type="radio" id="i4" name="images"/>
                    <input type="radio" id="i5" name="images"/>


                    <h3>{{ 'homepage_carousel_title' | translate }}</h3>

                    <div class="slide_img" id="one">

                        <img src="content/img/hp_carousel/versatile_01.jpg">

                        <label class="prev" for="i4"><span></span></label>
                        <label class="next" for="i2"><span></span></label>

                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    {{ 'homepage_carousel_item1_title' | translate }}
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p>{{ 'homepage_carousel_item1_text' | translate }} </p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button" ui-sref="prices">{{ 'learn_more' | translate }}</button>

                            </div>
                        </div>


                    </div>

                    <div class="slide_img" id="two">

                        <img src="content/img/hp_carousel/versatile_02.jpg">

                        <label class="prev" for="i1"><span></span></label>
                        <label class="next" for="i3"><span></span></label>
                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    {{ 'homepage_carousel_item2_title' | translate }}
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p>{{ 'homepage_carousel_item2_text' | translate }}</p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button" ui-sref="prices">{{ 'learn_more' | translate }}</button>

                            </div>
                        </div>

                    </div>

                    <div class="slide_img" id="three">
                        <img src="content/img/hp_carousel/versatile_03.jpg">

                        <label class="prev" for="i2"><span></span></label>
                        <label class="next" for="i4"><span></span></label>

                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    {{ 'homepage_carousel_item3_title' | translate }}
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p>{{ 'homepage_carousel_item3_text' | translate }}</p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button" ui-sref="prices">{{ 'learn_more' | translate }}</button>

                            </div>
                        </div>


                    </div>

                    <div class="slide_img" id="four">
                        <img src="content/img/hp_carousel/versatile_05.jpg">

                        <label class="prev" for="i3"><span></span></label>
                        <label class="next" for="i5"><span></span></label>

                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    {{ 'homepage_carousel_item4_title' | translate }}
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p>{{ 'homepage_carousel_item4_text' | translate }}</p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button" ui-sref="prices">{{ 'learn_more' | translate }}</button>

                            </div>
                        </div>

                    </div>

                    <div class="slide_img" id="five">
                        <img src="content/img/hp_carousel/versatile_04.jpg">

                        <label class="prev" for="i4"><span></span></label>
                        <label class="next" for="i1"><span></span></label>

                        <div class="slide_content">
                            <div class="slide_content_title">
                                <h4 class="heading-3" property="title">
                                    {{ 'homepage_carousel_item5_title' | translate }}
                                </h4>
                            </div>
                            <div class="slide_content_text">
                                <div property="body">
                                    <p>{{ 'homepage_carousel_item5_text' | translate }}</p>

                                </div>
                            </div>
                            <div class="slide_content_button">
                                <button class="main_button" ui-sref="prices">{{ 'learn_more' | translate }}</button>

                            </div>
                        </div>

                    </div>


                    <div id="nav_slide">
                        <div>
                            <div>
                                <label for="i1" class="dots" id="dot1"><p>{{ 'homepage_carousel_item1_title' | translate }}</p></label>
                                <label for="i2" class="dots" id="dot2"><p>{{ 'homepage_carousel_item2_title' | translate }}</p></label>
                                <label for="i3" class="dots" id="dot3"><p>{{ 'homepage_carousel_item3_title' | translate }}</p></label>
                                <label for="i4" class="dots" id="dot4"><p>{{ 'homepage_carousel_item4_title' | translate }}</p></label>
                                <label for="i5" class="dots" id="dot5"><p>{{ 'homepage_carousel_item5_title' | translate }}</p></label></div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <!--carousel-->

    </div>

    <logo-block></logo-block>

    <footer-block></footer-block>

</div>