<div id="homepage">

    <header-block></header-block>

    <div class="homepage">

        <!--main_section-->

        <div class="main_section">
            <div class="main_section_bg"></div>
            <div class="container">
                <div layout="column" layout-align="center center">
                    <h1>we make</h1>
                    <h2>electronic payments safe an easy</h2>
                    <div></div>
                </div>
            </div>
        </div>

        <!--main_section-->

        <!--solution-->

        <div class="solution">
            <div class="container">
                <div class="solution_title" layout="row" layout-align="space-between start">
                    <div>
                        <p>Full suite of processing solutions for online payments</p>
                    </div>
                    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusan</p></div>
                </div>
                <div class="solution_body" layout="row">
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>first</p>
                            <h3>merchant-account</h3>
                            <span>lorem ipsum dolor</span>
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>second</p>
                            <h3>Online Acquiring </h3>
                            <span>lorem ipsum dolor</span>
                            <div></div>
                        </div>
                    </div>
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>third</p>
                            <h3>Payment Processing</h3>
                            <span>lorem ipsum dolor</span>
                            <div></div>
                        </div>
                    </div>
                    <div class="solution_item">
                        <div class="background"></div>
                        <div class="solution_body_item">
                            <p>fourth</p>
                            <h3>Card Issuing</h3>
                            <span>lorem ipsum dolor</span>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--solution-->

        <div class=""></div>
        <div class=""></div>
    </div>

    <logo-block></logo-block>

    <footer-block></footer-block>

</div>