<div id="merchant_acquiring">
    <header-block></header-block>


    <div class="merchant_title">
        <div class="container">
            <div><h2>Advanced and tailored solutions for merchant acquiring</h2>
                <p>IscoPay Expert Acquiring Solution offers technologically advanced payment acquiring services
                    specifically designed to meet diverse needs of Payment Service Providers for merchant acquiring.</p>
                <span>We offer multi-currency Acquirer authorisation, clearing and settlement services in 12 currencies across over 30 countries.</span>
            </div>

        </div>
    </div>

    <solution-block></solution-block>

    <benefits-block></benefits-block>

    <logo-block></logo-block>

    <footer-block></footer-block>
</div>