<div id="merchant_acquiring">
    <header-block></header-block>


    <div class="merchant_title">
        <div class="container">
            <div><h2>{{'merchant_acquiring_title' | translate}}</h2>
                <p>{{'merchant_acquiring_subtitle' | translate}}</p>
                <span>{{'merchant_acquiring_text' | translate}}</span>
            </div>

        </div>
    </div>

    <solution-block></solution-block>

    <benefits-block></benefits-block>

    <logo-block></logo-block>

    <footer-block></footer-block>
</div>